node_modules
.env
coverage
coverage.json
typechain
typechain-types
package-lock.json
deployments/mainnet/solcInputs
deployments/mainnet/.chainId
typechain-types
test
deployments
deploy_scripts
deploy
contracts/mock

#Hardhat files
cache
artifacts
